<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj kierowce</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style2.css" th:href="@{/css/style2.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <script src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

<header th:replace="fragments/header::header">
</header>

<h1>Uzupełnił dane kierowcy</h1>
<form method="post" action="#" th:object="${driver}" th:action="@{/addDriver}">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{totalDistance}"/>


    <p>Imię [2-10]<input th:field="*{firstName}" type="text"></p>
    <p style="color: red; font-style: italic" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first Name error</p>

    <p>Nazwisko: [2-10]<input th:field="*{lastName}" type="text"></p>
    <p style="color: red; font-style: italic" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">last Name error</p>

    <p><input type="submit"></p>
</form>

<footer th:replace="fragments/footer::footer">Example</footer>
</body>
</html>
