<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj samochód</title>

</head>
<body>
<h1>Uzupełnił dane kierowcy</h1>
<form method="post" action="#" th:object="${driver}" th:action="@{/addDriver}">
    <input type="hidden" th:field="*{id}"/>

    <p>Imię [2-10]<input th:field="*{firstName}" type="text"></p>
    <p style="color: red; font-style: italic" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first Name error</p>

    <p>Nazwisko: [2-10]<input th:field="*{lastName}" type="text"></p>
    <p style="color: red; font-style: italic" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">last Name error</p>

    <p><input type="submit"></p>
</form>

</body>
</html>