<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodanie nowej trasy dla samochodu</title>
</head>
<body>
<form action="#" th:action="@{/addRoute}" th:object="${route}" method="post">

    <p> Start point : <select th:field="*{startPointAdress}">
        <option value="">->BRAK<-</option>
        <option th:each="tr : ${cityModel}"
                th:value="${tr}"
                th:utext="${tr}"/>
    </select></p>

    <p> End point :  <select th:field="*{endPointAdress}">
        <option value="">->BRAK<-</option>
        <option th:each="tr : ${cityModel}"
                th:value="${tr}"
                th:utext="${tr}"/>
    </select></p>

    <p>Symbol of route : <input type="text" th:field="*{symbol}"></p>
    <p style="color: red; font-style: italic" th:if="${#fields.hasErrors('symbol')}" th:errors="*{symbol}">Symbol error</p>
    <p>Start date: <input type="datetime-local" th:field="*{startTime}"></p>
    <p>End date: <input type="datetime-local" th:field="*{endTime}"></p>
    <p style="color: red; font-style: italic" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Symbol error</p>


    <p>
        <button type="submit" th:name="carId" th:value="${carId}"/>
        Zapisz trasę do samochodu
    </p>

</form>
</body>
</html>