<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main menu car app</title>
    <link rel="stylesheet" href="static/css/style2.css" th:href="@{/css/style2.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <script src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>

<body>
<div class="container">

    <h1>Wybierz co chcesz zrobić</h1>
    <hr>

    <div class="row">
        <div class="col-md-5 row">
            <ul class="list-group ">
                <li class="list-group-item list-group-item-primary"><a href="addCar">Dodaj samochód</a><br></li>
                <li class="list-group-item list-group-item-primary"><a href="addDriver">Dodaj kierowce</a><br></li>
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/showDriver}">Pokaż
                    kierowców</a><br></li>
                <li class="list-group-item list-group-item-primary"><a href="showCars">Pokaż samochody</a><br></li>
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/showRoutes}">Pokaż
                    trasy</a><br></li>
            </ul>
        </div>
    </div>


    <h1>Dostępne raporty:</h1>
    <hr>
    <div class="row">
        <div class="col-md-5 row">
            <ul class="list-group ">
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/carReport(reportId=1)}">
                    Wszystkie auta marki BMW</a></li>
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/carReport(reportId=3)}">
                    Wszystkie auta innej marki niż Volkswagen, Audi, Skoda,Seat </a></li>
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/carReport(reportId=4)}">
                    Wszystkie auta marki Ferrari i w kolorze czerwonym </a></li>
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/carReport(reportId=2)}">
                    Wszystkie auta starsze niż 10 lat</a></li>
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/carReport(reportId=5)}">
                    Pojazdy
                    marki Ford posortowane od najnowszego </a></li>
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/carReport(reportId=6)}">
                    Pojazdy
                    marki Peugeot w kolorze innym niż srebrny </a></li>
                <li class="list-group-item list-group-item-primary"><a href="#" th:href="@{/carReportForm}"> Pojazdy o
                    określonej marce, modelu i kolorze - wybór przez formularz </a></li>
            </ul>
        </div>
        <div class="col-md-7">
            <img class="img-fluid rounded" src="../static/images/bar_chart.jpg" th:src="@{/images/bar_chart.jpg}">
        </div>

    </div>

    <footer th:replace="fragments/footer::footer">Example</footer>

</body>
</html>