<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista tras:</title>
</head>
<body>

<h1>Zapisane trasy w bazie danych </h1>
<table border="2">

    <thead style="background: gainsboro">

    <tr>
        <td>Dystans trasy [m]</td>
        <td>Symbol trasy</td>
        <td>Początek trasy</td>
        <td>Koniec trasy</td>
        <td>Planowany czas startu</td>
        <td>Planowany czas końca</td
        <td>Czas podróży [min]</td>
        <td>Status podróży</td>
        <td>Zmień status podróży</td>
        <td>Usuń trasę</td>
        <td>Zmień dane trasy</td>
    </tr>
    </thead>

    <tbody>
    <tr style="font-style: italic" th:each="route: ${routes}">
        <!-- w zmiennej person bedzie kazda kolejna osoba z listy dostępnej w persons-->
        <td th:text="${route.distance}"/>
        <td th:text="${route.symbol}"/>
        <td th:text="${route.startPointAdress}"/>
        <td th:text="${route.endPointAdress}"/>
        <td th:text="${route.startTime}"/>
        <td th:text="${route.endTime}"/>
        <td th:text="${route.travelTime}"/>
        <td th:text="${route.isRealised()} ? 'Zrealizowano' : 'Niezrealizowano'"></td>
        <td><a href="#" th:href="@{/realiseRoute(routeId=${route.id})}">Zrealizuj trasę</a></td>
        <td><a href="#" th:href="@{/deleteRoute(routeId=${route.id})}">Usuń trasę</a></td>
        <td><a href="#" th:href="@{/addRouteEdit(routeId=${route.id})}">Zmień dane trasy</a></td>
<!--DLACZEGO THYMELEAF MA DOSTĘP DO PRYWATNYCH PÓL-->

    </tr>

    </tbody>


</table>
<p><a href="mainM.html" th:href="@{/}">Menu główne</a></p>

</body>
</html>