<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kierowcy:</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style2.css" th:href="@{/css/style2.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <script src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header::header">
</header>

<h1>Kierowcy w bazie danych </h1>
<table border="2">

    <thead style="background: gainsboro">

    <tr>
        <td>Imię</td>
        <td>Nazwisko</td>
        <td>Całkowita liczba przejechanych metrów</td>
        <td>Dodaj trasę do kierowcy</td>
        <td>Zmień dane kierowcy</td>
        <td>Usuń kierowce</td>
    </tr>
    </thead>

    <tbody>
    <tr style="font-style: italic" th:each="driver: ${drivers}">
        <!-- w zmiennej person bedzie kazda kolejna osoba z listy dostępnej w persons-->
        <td th:text="${driver.firstName}"/>
        <td th:text="${driver.lastName}"/>
        <td th:text="${driver.totalDistance}"/>
        <td><a href="#" th:href="@{/addRouteDriver(driverId=${driver.id})}">Dodaj trasę do kierowcy</a></td>
        <td><a href="#" th:href="@{/addDriver(driverId=${driver.id})}">Zmień dane kierowcy</a></td>
        <td><a href="#" th:href="@{/deleteDriver(driverId=${driver.id})}">Usuń kierowce</a></td>
    </tr>

    </tbody>


</table>
<p><a href="mainM.html" th:href="@{/}">Menu główne</a></p>

<footer th:replace="fragments/footer::footer">Example</footer>
</body>
</html>
